$theme-blue: #819CD5;
$theme-dark: #3D3833;
$theme-white: #ffffff;
$theme-black: #000000;
$theme-light: #F4F3ED;
$theme-brown: #92867B;
$theme-danger: #B55252;
$theme-blue-dark: #6C87C0;
$theme-light-grey: #C7C7C7;

//font-family: 'Cinzel', serif;